export(KL)
export(bigram.table)
export(collapse.bigrams)
export(ent)
export(fitLDA)
export(flag.exact)
export(flag.partial)
export(getProbs)
export(jsviz)
export(lu)
export(normalize)
export(perplexity.bounds)
export(plotLoglik)
export(plotTokens)
export(predictLDA)
export(preprocess)
export(preprocess.newdocs)
export(remap.terms)
export(su)
export(token.rank)
export(topdocs)
useDynLib(LDAviz)
