export(KL)
export(ent)
export(fitLDA)
export(flag.exact)
export(flag.partial)
export(getProbs)
export(jsviz)
export(lu)
export(norm)
export(plotLoglik)
export(plotTokens)
export(predictLDA)
export(preprocess)
export(preprocess.newdocs)
export(su)
export(sum.na)
export(token.rank)
export(topdocs)
useDynLib(LDAviz)
